/* Reset =================================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

/* End of Reset */

body {
  background: #fff;
  color: #343a40;
  font-size:16px;
  font-family: 'Poppins';
  font-family: 'Comfortaa', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Rammetto One', sans-serif;
}
/*  Hero Section */
.hero {
  padding: 0;
  margin: 0;
  width:100%;
  height:100vh;
  position: relative;
  border:0;
  background-color: #333;
}
.hero-background {
  width:100%;
  height:100%;
  background-image:url('../../img/hero2.jpeg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  opacity:0.75;
}
.title {
  font-size: 40px !important;
  position: absolute;
  color:#fff;
}
.title a {
  display:block;
  float:left;
  font-size:80%;
  border:2px solid #fff;
  margin-right:auto;
  margin-left:auto;
  text-decoration: none;
  color:#fff !important;
}
.name, .fa-2x {
  color:#04C2C9;
}
#navbar {
  border-bottom: 3px solid #04C2C9;
  margin-bottom:-60px;
  
  /* transition: all 0.5s ease-in-out; */
}
#navbar .nav-item .nav-link {
  transition: all 0.5s;
  color:#fff;
  text-transform:uppercase;
}
#navbar .nav-item .nav-link:hover {
  color:#E32B6D !important;
}
.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/*  Hero Section End*/

/* ABOUT */
.photo {
  border-radius:50%;
  max-width: 250px;
}

/* Color for icons from Font Awesome */
.fa-3x {
  color:#8500a7;
}


/* Skills diagram Styling Starts */

#diagram {
  position: relative;
}
.diagram {
  position: relative;
  height:30vw;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  margin-right: -15px;
  margin-left: -15px;
}

.axis-content {
  height:100%;
  color:#676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right:1px solid rgba(0, 0, 0, 0.1);
}
.axis-content>p {
  transform: translateY(-50%);
}
.line {
  position:absolute;
  top:0;
  left:16%;
  border-bottom: 1px dashed lightgrey;
  z-index: -1;
  display: block;
  max-width: 84%;
}
.line2{
  height:25%;
}
.line3{
  height:50%;
}
.line4{
  height:75%;
}

/* Skill columns styling */

.skill {
  display: flex;
  flex-wrap: wrap;
  max-width: 175px;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: all 0.3s;
}

.aqua {
    height:95%;
    border:1px solid #8dc5be;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}
.pink {
    height:90%;
    border:1px solid #ebc0b5;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center 544pxbottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}
.yellow {
    height:80%;
    border:1px solid #e7af30;;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}
.brown {
    height:70%;
    border:1px solid #dcb386;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}
.red {
    height:40%;
    border:1px solid #e14949;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}

/* Skills Text Styling */

.percent {
    opacity: 0.5;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25)
}
.skill > p {
  font-size:1.7vw;
}
@media screen and (max-width: 820px) {
  #diagram {
    display: none;
  }
}

/* End of skills diagram styling */



.footer {
  position: relative !important;
  display: block;
  background-color: #343a40;
}
.footer h3 {
  color:#eee;
}
.footer hr {
  border:1px solid #fff;
}
.footer .button {
  background-color: #E32B6D;
  border-color:#E32B6D;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: 0.15s ease-in-out;

}
.footer .button:active, .footer .button:hover {
  border-color:#E32B6D;
  transform:scale(0.97);
  outline:none;
}
.footer .button:active {
  transform:scale(0.95);
}
/* End of footer */


/* Projects */

#projects {
}
.preview {
  padding:5px;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  transition:all 0.5s;
}
.preview:hover {
  opacity:0.9;
  background-color: #eee;
  /* border:4px solid #fee; */
  transform:scale(0.9);
}
.banner {
  width:100%;
  border-radius: 0.5rem;
}
.description {
  padding-left:1rem;
  font-size:16px;
}
.card-title {
}
.card-comment {
  margin:0;
  opacity: 0.7;
}
/*  End of Projects */


/* Footer Styling */

@font-face {
  font-family: 'Genericons';
  src:url('../../assets/accordiFonts/genericons-regular-webfont.woff')format('woff'),
  url('../../assets/accordiFonts/genericons-regular-webfont.eot')format('truetype');
}
#accordion a, #accordion a::after, #accordion a::before, #accordion {
  box-sizing: content-box !important;
}
ul.accordion{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}
.footer header h2 {
  margin-bottom:10px;
  text-align:center;
}
.accordion {
  box-sizing: content-box !important;
  list-style-type:none;
  overflow:hidden;
  height:100px;
  font-size:0;
}

.tab {
  box-sizing: content-box !important;
  display:inline-block;
  background-color: #192531;
  width:80px;
  height:100px;
  overflow:hidden;
  position:relative;
  margin:0;
  transition: all 0.5s ease-in-out;
}

 .tab:hover {
  border-radius: 10px;
}
.tab:hover .social a::before {
  /* margin-top:100px; */
}
.tab:hover .social a::after {
  margin-top:0px;
}
.tab:hover {
  transform: scale(0.9);
}
/* Icons */
.social a::before,
.social a::after {
  transition: all 0.4s ease-in-out 0.1s;
  width:80px;
  height:100px;
  position:absolute;
  text-indent: 0;
  padding-left:25px;
  padding-top:40px;
  display:block;
  font: normal 30px 'Genericons';
  color:#fff;
}
.social a::after {
  font-size:49px;
  padding-left:16px;
  padding-top: 25px;
  margin-top:-100px;
}

.facebook a::before,
.facebook a::after {
  content:'\f204';
}
.facebook-title{
  color:#3b5998;
}
.facebook a::after {
  background-color: #3b5998;
}

.linkedin a::before,
.linkedin a::after {
  content:'\f208';
}
.linkedin-title{
  color:#00a9cd;
}
.linkedin a::after {
  background-color: #00a9cd;
}

.github a::before,
.github a::after {
  content:'\f200';
}
.github-title{
  color:#6e5494;
}
.github a::after {
  background-color: #6e5494;
}
